@keyframes text-filter{
	0% {
	    filter: hue-rotate(0);
	}
	
	100% {
	    filter: hue-rotate(-360deg);
	}
}
@keyframes toolp{
    0%,100% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50%{
        transform: scaleY(.5);
        transform-origin: bottom;
    }
}
@keyframes scroll{
    0%,100% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.el-header{
    height: 41px;
    line-height: 41px;
    background-color: #333;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    .head-music{
        position: absolute;
        width: 200px;
        left: 200px;
        top: 0;
        height: 41px;
        .head-music-title-wrap{
            overflow: hidden;
            width: 130px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;             
        }
        .head-music-title{
            color: #ffffff;
            font-size: 12px;
            width: 130px;
            display: inline-block;
            white-space: nowrap;
            height: 40px;  
            animation: scroll linear 10s infinite;         
        }
        .play-icon{
            position: absolute;
            top: 3px;
            left: 25px;
            &.playing{
                width: 25px;
                height: 20px;
                top: 6px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .play{
                    width: 3px;
                    background: #ffffff;
                    animation-name: toolp;
                    animation-duration: .5s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    &.paly1{
                        height: 5px;
                        animation-delay: .25s;
                    }
                    &.paly2{
                        height: 11px;
                        animation-delay: .15s;
                    }
                    &.paly3{
                        height: 5px;
                        animation-delay: .35s;
                    }
                    &.paly4{
                        height: 8px;
                        animation-delay: .15s;
                    }
                    &.paly5{
                        height: 12px;
                        animation-delay: .45s;
                    }                                                                                
                }
            }
        }
    }
    .logo{
        position: relative;
        width: 200px;
        height: 41px;
        .logo-text{
            position: absolute;
            left: 0;
            top: 0;
            width: 140px;
            height: 41px;
            line-height: 41px;
            color: #ffffff;
            background-image: url('../static/logo3.png');
            background-position: 20px center;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            padding-left: 70px;
            .text{
                display: inline-block;
                height: 41px;
                line-height: 41px;
                color: #FFFFFF;
                font:normal 18pt Arial;  
                background-image: -webkit-linear-gradient(92deg,#21d376,#00c8f2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: text-filter 25s infinite linear;	  
                position: absolute;
                right: 15px;
                top: 7px;             
            }
        }
        img{
            height: 41px;
        }        
    }
    &:hover{
        background: #000;
    }
}
.header-wrap{
    width: 100%;
    height: 600px;
    padding-top: 41px;
    z-index: 2000;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(92deg,#21d376,#00c8f2);
    animation: text-filter 60s 5s infinite linear;	   
    &:hover{
        animation-play-state:paused;
    }  
    &.actived{
        animation-play-state:paused;
    }
}
.banner{
    width: 100%;
    height: 420px;
    position: relative;   
    .banner-item{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 420px;
        transition: all 2s linear;
        opacity: 0;
        &.active{
            opacity: 1;
        }
        img{
            width: 100%;
            height: 420px;
        }
    }
}
a{
    color:#409eff;
}
.head-nav-menu{
    font-size: 30px;
    color: #ffffff;
    margin-top: 7px;
    &:hover{
        color: aqua;
    }
}
.header-nav-list{
    display: inline-flex;
    margin-right: 30px;
    color: #ffffff;
    .header-nav-list-item{
        font-size: 14px;
        position: relative;
        a{
            color: #fff;
            text-decoration: none;
        }
        &.active{
            &:after{
                left: 0;
                opacity: 1;
            }            
        }
        &:hover{
            cursor: pointer;
            &:after{
                left: 0;
                opacity: 1;
                animation: slideInLeft .2s linear forwards;
            }
        }
        &:after{
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #fff;
            left: 0;
            bottom: 0;
            opacity: 0;
            border-radius: 3px;
        }
        list-style: none;
        padding: 0 25px;
        & + .header-nav-list-item{
            
        }
    }
}
.bt-wrap{
    position: relative;
    width: 100%;
    height: 109px;
    padding-left: 100px;
    box-sizing: border-box;
    color: #ffffff;
    .bt-wrap-left{
        position: absolute;
        text-align: center;
        left: 0;
        top: 0;
        width: 100px;
        height: 109px;
        line-height: 109px;
        i{
            font-size: 40px;
        }
    }
    .bt-wrap-right{
        width: 100%;
        height: 109px;
        padding-top: 20px;
        p:nth-child(2){
            font-size: 12px;
            margin-top: 15px;
        }
    }
}
.register-box-card{
    width: 600px;
    margin: 50px auto;
}
.section-wrap{
    padding: 50px 0;
}
.pic-list-item{
    margin-bottom: 50px;
}
.picitem{
    position: relative;
    padding-left: 100px;
    height: 100px;
    box-sizing: border-box;
    .picitem-img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block; 
    }
    dl{
        width: 100%;
        height: 100px;
        padding-left: 15px;
        dt{
            color: #333;
            font-size: 12px;            
            height: 70px;
        }
        dd{
            height: 30px;
            color: #333;
            font-size: 12px;
            padding-top: 5px;
        }
    }
}
.text-num{
    color: #ddd;
    margin: 0 10px 0 5px;
}
.text-muted{
    color: #999;
}
.article-list-date{
    margin-right: 15px;
}
.card-title{
    font-size: 14px;
}
.article-list-title{
    font-size: 14px;
    color: #777;
}
.friend-link{
    .el-tag + .el-tag{
        margin-left: 15px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}
.ce-box{
    .box-card-1 + .box-card-1{
        margin-top: 20px;
    }
}
.article-bz{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    .article-bz-label{
        color: #777;
        margin-right: 5px;
    }
    .article-bz-num{
        color: #e6a23c;
        margin-right: 15px;
        .el-tag + .el-tag{
            margin-left: 5px;
        }
    }
}
.tag-list{
    .el-button{
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
    }
}
[class*=" ion-"], [class^=ion-]{
    margin-right: 5px;
    transform: scale(1.2)
}
.el-breadcrumb__inner, .el-breadcrumb__inner a{
    color: #333;
    font-weight: 400;
    text-decoration: none;
}
.box-card-2{
    dl,dt,dd{
        width: 100%;
    }
    dd{
        margin-top: 5px;
    }
    img{
        width: 100%;
        height: 300px;
    }
}
.box-card-3{
    dl,dt,dd{
        width: 100%;
    }
    dd{
        margin-top: 5px;
    }
    img{
        width: 100%;
        height: 600px;
    }
}
.box-card-4{
    padding: 15px;
}
.pic-dd-desc{

}
.pic-dd-title{
    color: #777;
    font-size: 14px;
}
.talk-con-wrap{
    position: relative;
    padding: 15px 15px 15px 150px;
    margin-bottom: 20px;
    .talk-con-wrap-left{
        width: 80px;
        height: 80px;
        position: absolute;
        left: 15px;
        top: 15px;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }    
    .talk-con-wrap-right{
        width: 100%;
    }
    .talk-con-wrap-title{
        color: #409eff;
    }
    .talk-con-wrap-desc{
        color: #333;
        margin: 15px 0;
    }    
    .talk-con-wrap-pic{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        img{
            width: 100px;
            height: 100px;
            margin: 15px 15px 0 0;    
        }
    }
    .talk-con-wrap-bot{
        color: #777;
        margin-top: 30px;
        position: relative;
        .talk-icon{
            position: absolute;
            color: #ddd;
            top: 0;
            font-size: 20px;
            &.talk-icon1{
                right: 0;
            }
            &.talk-icon2{
                right: 80px;
            }
            &.talk-icon3{
                right: 40px;
            }
        }
    }
    .talk-con-zan{
        margin-top: 20px;
        position: relative;
        background: #eee;
        padding: 15px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        img{
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin-right: 15px;
        }
        .zan-icon{
            position: absolute;
            font-size: 20px;
            left: -40px;
            top: 20px;
            color: #CC3399;
        }
        .talk-con-pllist{
            width: 100%;
            margin-top: 25px;
            font-size: 14px;
            p{
                margin-bottom: 10px;
            }
            .talk-pl-f{
                color: #409eff;
            }
            .talk-pl-xw{
                margin-right: 10px;
            }
            .talk-pl-to{
                color: #409eff
            }
            .talk-pl-s{
                margin: 0 5px;
            }
        }
    }
}
.message-ruleForm{
    max-width: 600px;
    margin: 30px auto;
}
.select-music-plane{
    position: fixed;
    height: 560px;
    background: #000;
    overflow: hidden;
    top: 41px;
    left: 0;
    transition: all .5s linear;
    &.show{
        width: 100%;
    }
    &.hide{
        width: 0;
    }
}
.song-list{
    li{
        list-style: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 15px;
    }
    .song-title{
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
    }
    .song-pic{
        width: 30px;
        height: 30px;
        border-radius: 3px;
        margin-right: 15px;
        transform: translate(0,-5px);
    }
    .song-author{
        display: inline-block;
        margin-left: 20px;
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;        
    }
    .song-icon{
        transform: translate(0,-15px);
        margin-left: 30px;
    }
}
.audio{
    display: none;
}
.jl-form-label,.jl-form-value{
    p{
        height: 80px;
        line-height: 80px;
    }
}
.jl-jslist{
    .el-button{
        width: 100%;
    }
}
.card-title2{
    padding-left: 25px;
    margin-bottom: 20px;
}
.gzjl-list{
    li{
        color: #333;
        font-size: 14px;
    }
}
@media screen and (max-width: 800px){
    .talk-con-wrap{
        padding: 15px 15px 15px 70px;
        .talk-con-wrap-left{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0px;
            top: 20px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }   
    }      
}